<p-toast></p-toast>

<app-header></app-header>

<div class="p-fluid mt-8">
    <div class="col-12">
        <div class="grid">
            <div class="lg:col-4 col-12 flex justify-content-center">
                <img src="{{urlImg + detail.poster_path}}" alt="{{detail.title}}" style="border-radius: 10px;"
                    width="70%" />
            </div>
            <div class="col-12 lg:col-6">
                <h1 class=" title-movie" justify-content-center md:justify-content-start>
                    {{detail.title}}
                </h1>
                <div class="date-movie">
                    Release Date : {{detail.release_date}}
                </div>
                <div class="lg:flex lg:justify-content-between">
                    <div>
                        <div class="title-genre">The Genre</div>
                        <div>
                            <div class="flex justify-content-start">
                                <div *ngFor="let genre of detail.genre_ids">
                                    <div class="lg:ml-1 mr-1">
                                        <button type="button" class="badge"> {{ getGenreName(genre) }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="title-genre">Rating</div>
                        <p-rating [(ngModel)]="detail.rate" [readonly]="true" [cancel]="false" size="small"></p-rating>
                    </div>
                    <div>
                        <div class="title-genre">popularity</div>
                        <p class="text-white">{{detail.popularity}}</p>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="title-genre">The Sinopsis</div>
                    <p class="deskription mt-2">
                        {{detail.overview}}
                    </p>
                </div>

                <div class="btn-list mt-5 mb-5">
                    <button class="lg:mr-2 mr-1" *ngIf="isFavorit" (click)="favorit()">
                        <i class="pi pi-trash"><span class="ml-2">Unwacthlist</span></i>
                    </button>
                    <button class="lg:mr-2 mr-1" *ngIf="!isFavorit" (click)="favorit()">
                        <i class="pi pi-plus"><span class="ml-2">Wacthlist</span></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>