<app-header></app-header>

<div class="p-fluid mt-8" *ngIf="allMovie.length > 0">
    <div class="col-12">
        <div class="grid">
            <div class="col-6 lg:col-2 md:col-6" *ngFor="let movie of allMovie">
                <a (click)="detailRoute(movie)">
                    <div class="field">
                        <div>
                            <img class="shadow-7" src="{{urlImg + movie.poster_path}}" alt="{{movie.title}}"
                                style="border-radius: 10px;" width="100%" />
                        </div>
                        <div class=" text-center">
                            <p class="title-movie">{{movie.title}}</p>
                        </div>
                        <div class="mt-2 text-center">
                            <div>
                                <p-rating [(ngModel)]="movie.rate" [readonly]="true" [cancel]="false"
                                    size="small"></p-rating>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="justify-content-center text-center mt-8">
    <img src="./assets/img/loading.gif" alt="loading">
</div>