<div class="header">
    <div class="grid ">
        <div class="col-6 logo">
            Davv-Movie
        </div>
        <div class="col-6 flex justify-content-end">
            <div class="flex align-items-center mr-3 field">
                <div class="search-box mt-2 mr-2" [hidden]="search_btn">
                    <button class="btn-search"><i class="pi pi-search"></i></button>
                    <input type="text" class="input-search" pTooltip="search"
                        (keydown.enter)="dashboard.search(dashboard.keyword)" [(ngModel)]="dashboard.keyword"
                        placeholder="Type to Search...">
                </div>
                <button pButton *ngIf="!navbar" icon="pi pi-bars" class="p-button-bars"
                    (click)="navbarclass()"></button>
                <button pButton *ngIf="navbar" icon="pi pi-times" class="p-button-bars"
                    (click)="navbarclass()"></button>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="{'nav': !navbar, 'nav-show': navbar}">
    <div class="nav-list p-fluid">
        <ul>
            <li><a (click)="home()">
                    <div>Home</div><span><i class="pi pi-home"></i></span>
                </a></li>
            <li><a (click)="route.navigate(['/favorit']);">
                    <div>Favorit</div><span><i class="pi pi-bookmark"></i></span>
                </a></li>
        </ul>
        <hr>
        <ul [hidden]="search_btn" *ngFor="let genre of movieGenres">
            <li [ngClass]="{'active': genre.id === actived.id}">
                <a (click)="checkActived(genre)">
                    <div>{{ genre.genre }}</div>
                    <span><i class="pi pi-circle"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>