.container {
    padding: 20px 10px;
}

.not-found {
    color: #FFB000;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

.container button {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #FFB000;
    color: #FFB000;
    border: solid;
    border-width: 2px;
}