<div class="layout-topbar">
    <div class="layout-topbar-logo">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-white' : 'logo-dark'}}.png"
            alt="logo" width="100%">
    </div>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText
                [placeholder]="selectedLanguage.iso_639_1 == 'id'? 'Cari Film' : 'Search Movie'" [ngModel]="keyword"
                (ngModelChange)="keyword = $event" (keydown.enter)="searchMovie(keyword)" />
        </span>
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <div class="mb-1">
                    <label for="language" style="font-weight: bold;">{{selectedLanguage.iso_639_1 == 'id'? 'PILIHBAHASA'
                        : 'SELECT LANGUAGE' }}
                    </label>
                    <div style="color: red;font-weight: bold;font-size: 12px;">
                        {{selectedLanguage.iso_639_1 == 'id'? 'BAHASA SEKARANG' : 'CURRENT LANGUAGE' }} + ':' +
                        {{selectedLanguage.english_name.toUpperCase()}}
                    </div>
                </div>
                <div class="field p-fluid">
                    <p-dropdown [options]="languages" [filter]="true" filterBy="english_name"
                        [(ngModel)]="selectedLanguage" placeholder="Select Language"
                        optionLabel="english_name"></p-dropdown>
                </div>
                <div class="field p-fluid">
                    <button pButton class="p-button p-button-outlined p-button-danger"
                        (click)="setlanguage(selectedLanguage)" icon="pi pi-refresh" label="Refresh"></button>
                </div>
            </ng-template>
        </p-overlayPanel>
        <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
            <i class="pi pi-language"></i>
            <span>{{selectedLanguage.iso_639_1 == 'id'? 'Bahasa' : 'Language' }}</span>
        </button>
        <button class="p-link layout-topbar-button" *ngIf="layoutService.config.colorScheme === 'light'"
            (click)="changeTheme('lara-dark-blue', 'dark')">
            <i class="pi pi-sun"></i>
            <span>Light Mode</span>
        </button>
        <button class="p-link layout-topbar-button" *ngIf="layoutService.config.colorScheme !== 'light'"
            (click)="changeTheme('lara-light-blue', 'light')">
            <i class="pi pi-moon"></i>
            <span>Dark Mode</span>
        </button>
        <button *ngIf="!isLogin" class="p-link layout-topbar-button" (click)="login()" pTooltip="Login"
            tooltipPosition="left">
            <i class="pi pi-sign-in"></i>
            <span>{{selectedLanguage.iso_639_1 == 'id'? 'Masuk' : 'Login' }}</span>
        </button>
        <button *ngIf="isLogin" class="p-link layout-topbar-button" (click)="logout()" pTooltip="Logout"
            tooltipPosition="left">
            <i class="pi pi-sign-out"></i>
            <span>{{selectedLanguage.iso_639_1 == 'id'? 'Keluar' : 'Logout' }}</span>
        </button>
        <button *ngIf="isLogin" class="p-link layout-topbar-button" (click)="profile()" pTooltip="Profile"
            tooltipPosition="left">
            <i class="pi pi-user"></i>
            <span>{{selectedLanguage.iso_639_1 == 'id'? 'Profil' : 'Profile' }}</span>
        </button>
    </div>
</div>